
Volatility/VolatilityDataGenerator/packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.xml
Volatility/VolatilityDataGenerator/bin/Debug/VolatilityDataGenerator.pdb
Volatility/VolatilityDataGenerator/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Volatility/VolatilityDataGenerator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Volatility/VolatilityDataGenerator/obj/Debug/VolatilityDataGenerator.csproj.CopyComplete
Volatility/VolatilityDataGenerator/obj/Debug/VolatilityDataGenerator.csproj.CoreCompileInputs.cache
Volatility/VolatilityDataGenerator/obj/Debug/VolatilityDataGenerator.csproj.FileListAbsolute.txt
Volatility/VolatilityDataGenerator/obj/Debug/VolatilityDataGenerator.csprojAssemblyReference.cache
Volatility/VolatilityDataGenerator/obj/Debug/VolatilityDataGenerator.exe
Volatility/VolatilityDataGenerator/obj/Debug/VolatilityDataGenerator.pdb
Volatility/VolatilityDataGenerator/packages/Newtonsoft.Json.13.0.1/.signature.p7s
Volatility/VolatilityDataGenerator/packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.dll
Volatility/VolatilityDataGenerator/packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.xml
Volatility/VolatilityDataGenerator/packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.dll
Volatility/VolatilityDataGenerator/packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.xml
Volatility/VolatilityDataGenerator/packages/Newtonsoft.Json.13.0.1/packageIcon.png
Volatility/VolatilityDataGenerator/packages/Newtonsoft.Json.13.0.1/Newtonsoft.Json.13.0.1.nupkg
Volatility/VolatilityDataGenerator/packages/Newtonsoft.Json.13.0.1/LICENSE.md
Volatility/VolatilityDataGenerator/packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.dll
Volatility/VolatilityDataGenerator/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.xml
Volatility/VolatilityDataGenerator/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.dll
Volatility/VolatilityDataGenerator/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
Volatility/VolatilityDataGenerator/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
Volatility/VolatilityDataGenerator/packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.xml
Volatility/VolatilityDataGenerator/packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.dll
Volatility/VolatilityDataGenerator/packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.xml
Volatility/VolatilityDataGenerator/packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.dll
Volatility/VolatilityDataGenerator/bin/Debug/Newtonsoft.Json.dll
Volatility/VolatilityDataGenerator/bin/Debug/Newtonsoft.Json.xml
Volatility/VolatilityDataGenerator/bin/Debug/VolatilityContracts.dll
Volatility/VolatilityDataGenerator/bin/Debug/VolatilityContracts.pdb
Volatility/VolatilityDataGenerator/bin/Debug/VolatilityDataGenerator.exe
Volatility/VolatilityDataGenerator/bin/Debug/VolatilityDataGenerator.exe.config
Volatility/VolatilityDataGenerator/bin/Debug/Addresses.txt
Volatility/VolatilityDataGenerator/bin/Debug/Customers.json
Volatility/VolatilityDataGenerator/bin/Debug/FemaleNames.txt
Volatility/VolatilityDataGenerator/.vs/VolatilityDataGenerator/v16/.suo
Volatility/VolatilityDataGenerator/bin/Debug/MaleNames.txt
Volatility/VolatilityContracts/.vs/VolatilityContracts/v16/.suo
Volatility/VolatilityContracts/bin/Debug/VolatilityContracts.dll
Volatility/VolatilityContracts/bin/Debug/VolatilityContracts.pdb
Volatility/VolatilityWPFApp/.vs/VolatilityWPFApp/v16/.suo
Volatility/VolatilityWPFApp/.vs/VolatilityWPFApp/v16/TestStore/0/000.testlog
Volatility/VolatilityWPFApp/.vs/VolatilityWPFApp/v16/TestStore/0/testlog.manifest
Volatility/VolatilityWPFApp/bin/Debug/Customers.json
Volatility/VolatilityWPFApp/bin/Debug/Newtonsoft.Json.dll
Volatility/VolatilityWPFApp/bin/Debug/Newtonsoft.Json.xml
Volatility/VolatilityWPFApp/bin/Debug/VolatilityContracts.dll
Volatility/VolatilityWPFApp/bin/Debug/VolatilityContracts.pdb
Volatility/VolatilityWPFApp/bin/Debug/VolatilityWPFApp.exe
Volatility/VolatilityWPFApp/bin/Debug/VolatilityWPFApp.exe.config
Volatility/VolatilityWPFApp/bin/Debug/VolatilityWPFApp.pdb
Volatility/VolatilityWPFApp/obj/Debug/App.g.cs
Volatility/VolatilityWPFApp/obj/Debug/App.g.i.cs
Volatility/VolatilityWPFApp/obj/Debug/CustomerDetails.g.i.cs
Volatility/VolatilityWPFApp/obj/Debug/CustomerDetailsWindow.baml
Volatility/VolatilityWPFApp/obj/Debug/CustomerDetailsWindow.g.cs
Volatility/VolatilityWPFApp/obj/Debug/CustomerDetailsWindow.g.i.cs
Volatility/VolatilityWPFApp/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Volatility/VolatilityWPFApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Volatility/VolatilityWPFApp/obj/Debug/MainWindow.baml
Volatility/VolatilityWPFApp/obj/Debug/MainWindow.g.cs
Volatility/VolatilityWPFApp/obj/Debug/MainWindow.g.i.cs
Volatility/VolatilityWPFApp/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
Volatility/VolatilityWPFApp/obj/Debug/VolatilityWPFApp.csproj.CopyComplete
Volatility/VolatilityWPFApp/obj/Debug/VolatilityWPFApp.csproj.CoreCompileInputs.cache
Volatility/VolatilityWPFApp/obj/Debug/VolatilityWPFApp.csproj.FileListAbsolute.txt
Volatility/VolatilityWPFApp/obj/Debug/VolatilityWPFApp.csproj.GenerateResource.cache
Volatility/VolatilityWPFApp/obj/Debug/VolatilityWPFApp.csprojAssemblyReference.cache
Volatility/VolatilityWPFApp/obj/Debug/VolatilityWPFApp.exe
Volatility/VolatilityWPFApp/obj/Debug/VolatilityWPFApp.g.resources
Volatility/VolatilityWPFApp/obj/Debug/VolatilityWPFApp.pdb
Volatility/VolatilityWPFApp/obj/Debug/VolatilityWPFApp.Properties.Resources.resources
Volatility/VolatilityWPFApp/obj/Debug/VolatilityWPFApp_Content.g.i.cs
Volatility/VolatilityWPFApp/obj/Debug/VolatilityWPFApp_MarkupCompile.cache
Volatility/VolatilityWPFApp/obj/Debug/VolatilityWPFApp_MarkupCompile.i.cache
Volatility/VolatilityWPFApp/obj/Debug/VolatilityWPFApp_MarkupCompile.i.lref
Volatility/VolatilityWPFApp/obj/Debug/VolatilityWPFApp_MarkupCompile.lref
Volatility/VolatilityWPFApp/VolatilityWPFApp.csproj.user
Volatility/VolatilityContracts/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Volatility/VolatilityContracts/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Volatility/VolatilityContracts/obj/Debug/VolatilityContracts.csproj.CoreCompileInputs.cache
Volatility/VolatilityContracts/obj/Debug/VolatilityContracts.csproj.FileListAbsolute.txt
Volatility/VolatilityContracts/obj/Debug/VolatilityContracts.csprojAssemblyReference.cache
Volatility/VolatilityContracts/obj/Debug/VolatilityContracts.dll
Volatility/VolatilityContracts/obj/Debug/VolatilityContracts.pdb
Volatility/VolatilityWPFApp/packages/Newtonsoft.Json.13.0.1/.signature.p7s
Volatility/VolatilityWPFApp/packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.dll
Volatility/VolatilityWPFApp/packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.xml
Volatility/VolatilityWPFApp/packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.dll
Volatility/VolatilityWPFApp/packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.xml
Volatility/VolatilityWPFApp/packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.dll
Volatility/VolatilityWPFApp/packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.xml
Volatility/VolatilityWPFApp/packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.dll
Volatility/VolatilityWPFApp/packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.xml
Volatility/VolatilityWPFApp/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
Volatility/VolatilityWPFApp/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
Volatility/VolatilityWPFApp/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.dll
Volatility/VolatilityWPFApp/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.xml
Volatility/VolatilityWPFApp/packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.dll
Volatility/VolatilityWPFApp/packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.xml
Volatility/VolatilityWPFApp/packages/Newtonsoft.Json.13.0.1/LICENSE.md
Volatility/VolatilityWPFApp/packages/Newtonsoft.Json.13.0.1/Newtonsoft.Json.13.0.1.nupkg
Volatility/VolatilityWPFApp/packages/Newtonsoft.Json.13.0.1/packageIcon.png
Volatility/VolatilityWCFService/bin/Debug/VolatilityContracts.dll
Volatility/VolatilityWCFService/bin/Debug/VolatilityContracts.pdb
Volatility/VolatilityWCFService/bin/Debug/VolatilityWCFService.exe
Volatility/VolatilityWCFService/bin/Debug/VolatilityWCFService.exe.config
Volatility/VolatilityWCFService/bin/Debug/VolatilityWCFService.pdb
Volatility/VolatilityWCFService/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Volatility/VolatilityWCFService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Volatility/VolatilityWCFService/obj/Debug/VolatilityWCFService.csproj.CopyComplete
Volatility/VolatilityWCFService/obj/Debug/VolatilityWCFService.csproj.CoreCompileInputs.cache
Volatility/VolatilityWCFService/obj/Debug/VolatilityWCFService.csproj.FileListAbsolute.txt
Volatility/VolatilityWCFService/obj/Debug/VolatilityWCFService.csprojAssemblyReference.cache
Volatility/VolatilityWCFService/obj/Debug/VolatilityWCFService.exe
Volatility/VolatilityWCFService/obj/Debug/VolatilityWCFService.pdb
Volatility/VolatilityDataGenerator/.vs/VolatilityDataGenerator/v16/TestStore/0/000.testlog
Volatility/VolatilityDataGenerator/.vs/VolatilityDataGenerator/v16/TestStore/0/testlog.manifest
Volatility/VolatilityWCFService/.vs/VolatilityWCFService/v16/.suo
Volatility/VolatilityWCFService/bin/Debug/Customers.json
Volatility/VolatilityWCFService/bin/Debug/Newtonsoft.Json.dll
Volatility/VolatilityWCFService/bin/Debug/Newtonsoft.Json.xml
Volatility/VolatilityWCFService/packages/Newtonsoft.Json.13.0.1/.signature.p7s
Volatility/VolatilityWPFApp/.vs/VolatilityWPFApp_single/v16/.suo
Volatility/VolatilityWPFApp/.vs/VolatilityWPFApp_single/v16/.suo
Volatility/VolatilityWPFApp/.vs/VolatilityWPFApp_single/v16/.suo
Volatility/VolatilityWPFApp/.vs/VolatilityWPFApp_single/v16/.suo
